@media print {
    div#navs.admin-nav{
        display: none;
    }

    .disp_false{
        display: none;
    }

    #edit_cont1{
        display: block;
    }
	
	.print-hide{
		display: none;
	}
	
	.p-password{
		color: #ccc;
	}
	
	body{
		margin: 0px;
	}
}