.nav-list {
    list-style-type: none;
    list-style-position: inside;
    padding: 0px;
    margin: 0px;   
}
header{
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.24);
}
#main-nav-bar{
display: inline-block;
position: relative;
bottom: 17%;margin-left: 25%;
width: 60%;

}

#main-nav-bar > ul > li:hover, #main-nav-bar > ul > li > a:hover {
    color: #23c3ff !important;
}
#main-nav-bar > ul > li, #main-nav-bar > ul > li > a {
    color:black !important;
    font-weight: bold !important;
    height: 40px;
font-family: "Open Sans", sams-serif !important;
font-size: 14px !important;
text-decoration: none;
}
.sub-nav-list > li{
    padding-top: 10px;
}
#info-cont{
    width: 100%;
    display: inline;
}
#login_div{
    display: inline-block;
width: 20%;
margin-top: 3.5%;
margin-left: 80%;
}
#main-nav-right-ul{
	display: inline-block;
float: right;
padding: 0px;
margin: 0px;
width: 100%;
font-family: "Time new romance";
text-align: center;
}

#main-nav-left-ul{
	display: inline;
	margin: 0px;
	height: 100%;
    width: 100%;
}

.main-nav-item{
    display: inline-block;
    width: 10%;
    height: 100%;
    text-align: center;
    padding: 0.8% 0% 0.8% 0%;;
    color:white;
}


.sub-nav-list {
    margin-top: 1.7%;
    position:absolute;
    text-align:left;
    width: 220px;
    height: 0;
    color: white;
    display: none;
    margin-left:-17px;
    background: rgba(27,32,33,0.9);
    -webkit-transition: height 1.5s;
    transition: height 1.5s;
}

.sub-nav-list > li {
    height: 30px;
    padding-left: 7%;
    margin-top:5%;
    padding-bottom:1.2%;
    font-weight:normal;
    z-index:6;
    -webkit-transition: padding-left 0.5s;
    transition: padding-left 0.5s;

}

.sub-nav-list > li:hover {
    color: #23c3ff !important;
   	z-index:5;
   	padding-left: 25px;
   	color: #cc9933;
}

.ul-menu{
	list-style-type: none;
	list-style-position: outside;
	padding-bottom: 14px;
}

.ul-menu-right{
	list-style-type: none;
	list-style-position: outside;
	padding: 0px;
}

.li-menu-item{
	padding-top: 8px;
	width: 100%;
	height: 33px;
	background-color: #33b5e5;
	color: white;
	cursor: pointer;
	padding-left: 10px;
	padding-top: auto 50%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.li-menu-item:hover{
	background-color: #0099cc;
}

.li-menu-item-hor{
	display: inline-block;
	height: inherit;
	cursor: pointer;
    margin-right: 9%;
}

.li-menu-item-hor:hover{
	color: #dddddd;
}

.card{
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.24);
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    text-align: left;
}

.card-details{
    padding: 5px 10px 5px 10px;
}

ul[id="post-graduate-sub-list"] {
    margin-left:88%;
    top:-2px;
    width:100%;
    z-index: 200;
}

ul[id="under-graduate-sub-list"] {
    margin-left:88%;
    top:47.8%;
    width:100%;
    z-index:100;
}


#resource:hover #resource-sub-list{
	height: auto;
	z-index:7;
	display: block;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#programmes:hover #programmes-sub-list{
	height: auto;
	z-index:7;
	display: block;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#about:hover #about-sub-list{
	height: auto;
	z-index:7;
	display: block;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#post-graduate:hover #post-graduate-sub-list{
	height: auto;
	z-index:7;
	display: block;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#under-graduate:hover #under-graduate-sub-list{
	height: auto;
	z-index:7;
	display: block;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.arrow {
    font-weight:bolder;
    float: right;
    padding-right: 10px;
}

#latest-news {
    background-color:white;
    opacity:0.7;
}

#alumni {

    background-color:white;
    opacity:0.7;
}

#history-display {

    background-color:white;
    opacity:0.7;
}

#research {
    background-color:white;
    opacity:0.7;
}

#why-elect-elect {
    background-color:white;
    opacity:0.7;
}